nav {
    background-color: rgb(88, 0, 88);
    height: 100px;
}
.nav-c {
    background-color: rgb(246, 0, 246);
    height: 100px;
}

/* .nav-iniciada {
    background-color: rgb(246, 80, 19);
    height: 100px;
} */